%h3 Last day active users
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th User
      %th # Commits
  - @commiters.each do |commit|
    %tr
      %td= commit['author']
      %td= commit['commits']
