!!!
%html
  %head
    %title Github Stats
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    %script(src="amcharts.js")
    %script(src="serial.js")
  %body
    .container.fluid
      %nav.navbar.navbar-default{role: "navigation"}
        %ul.nav.navbar-nav
          %li
            %a{href: '/commit_activity'} Commit Activity
          %li
            %a{href: '/pulls'} Pull Requests
          %li
            %a{href: '/reviews'} Pull Requests Reviews
          %li
            %a{href: '/issues'} Issues
          %li
            %a{href: '/comments'} Issues Comments
          %li
            %a{href: '/commits'} Commits
          %li
            %a{href: '/active_users'} Last Hour Active Users
          %li
            %a{href: '/last_day_active_users'} Last Day Active Users

    = yield
